<a href="/games">Go back to games</a>
<h1>Game {{game.id}}</h1>
<p>State:{{game.state}}</p>
<p>Players:{{game.playerName}}</p>

{{#if gameIsOpen}}
    <a href="/games/{{game.id}}/join">Join game</a>
{{/if}}

